/* begin general styling */

.dropzone.dropzone-default .dz-remove {
  font-size: 14px;
  color: #e74c3c;
  margin-top: 10px;
  font-weight: bold;
}
.dropzone.dropzone-default .dz-remove:hover {
  color: #c0392b;
}

/* end general styling */

/* Preview the image  */

#previewBox .preview_body .question_images {
  max-width: 90%;
  display: block;
  margin: auto;
  overflow: hidden;
  text-align: center;
}

#previewBox .preview_body .question_images img {
display: inline-block;
max-width: 100px;
margin: auto 10px;
}

#previewBox .preview_body .question_text {
  width: 90%;
  margin: 10px auto;
  padding: 10px;
}

#previewBox .preview_body .student_answer {
  display: block;
  width: 90%;
  margin: 10px auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}

#previewBox .preview_body .student_answer:focus {
  outline: none;
}

#previewBox .preview_body #StudentAttachment {
  margin: 10px auto;
  width: 90%;
}
