/* begin general styling */

.dropzone.dropzone-default .dz-remove {
  font-size: 14px;
  color: #e74c3c;
  margin-top: 15px;
  font-weight: bold;
}
.dropzone.dropzone-default .dz-remove:hover {
  color: #c0392b;
}
.dropzone .dz-preview .dz-error-message {
  top: 160px!important;
}

/* end general styling */

/* begin:: Preview styling */

#previewBox .preview_body .question_images {
  max-width: 90%;
  display: block;
  margin: auto;
  overflow: hidden;
  text-align: center;
}

#previewBox .preview_body .question_images img {
display: inline-block;
max-width: 100px;
margin: auto 10px;
}

#previewBox .preview_body .question_text {
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  font-size: 18px;
}

#previewBox .preview_body .student_answer {
  display: block;
  width: 90%;
  margin: 10px auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}

#previewBox .preview_body .student_answer:focus {
  outline: none;
}

#previewBox .preview_body #StudentAttachment {
  margin: 10px auto;
  width: 90%;
}

#previewBox .preview_body .choiceBox {
  border: 1px solid #ebedf3;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

#previewBox .preview_body .choiceBox img {
  max-height: 100px;
  max-width: 100px;
  display: block;
  margin: auto;
}

#previewBox .preview_body .choiceBox .choiceText {
  display: flex;
  min-height: 100%;
}

#previewBox .preview_body .choiceBox .choiceText span {
  margin: auto;
  font-size: 18px;
}
/* end:: Preview styling */


#MultiChoice .choice .multi-choice-td:first-of-type {
    width: 230px;
}

#MultiChoice .choice .multi-choice-td .dz-image {
  height: auto;
}

#MultiChoice .choice .multi-choice-td .dz-image img {
  width: 75px;
  margin: auto;
}

#MultiChoice .choice .dz-preview.dz-error {
  display: none;
}
#MultiChoice .choice .dz-preview.dz-success {
  margin: auto;
}

#MultiChoice .choice .dz-details {
  padding: 0
}
