body * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* begin:: multiple choice & True/False*/
.multiple_choice .totalChoices .checkbox,
.true_false .totalChoices .radio {
  width: 80%;
  margin: 5px auto;
  border: 2px solid #ebedf3;
  border-radius: 10px;
  padding: 10px;
  min-height: 70px;
  transition: all 0.3s ease;
}

.multiple_choice .totalChoices .checkbox .choiceBox,
.true_false .totalChoices .radio .choiceBox {
  width: 100%;
}

.multiple_choice .totalChoices .checkbox .choiceBox .choiceImg,
.true_false .totalChoices .radio .choiceBox .choiceImg {
  max-height: 100px;
  text-align: center;
}

.multiple_choice .totalChoices .checkbox .choiceBox .choiceImg img,
.true_false .totalChoices .radio .choiceBox .choiceImg img {
  max-height: 100%;
}

.assortment .totalElements .elementText {
  font-size: 1.25em;
}
.multiple_choice .totalChoices .checkbox .choiceBox .choiceText,
.true_false .totalChoices .radio .choiceBox .choiceText {
  /* font-family: 'El Messiri', sans-serif; */
  font-size: 1.5em;
  margin: auto;
}

.assortment h4,
.multiple_choice h4,
.true_false h4 {
  margin: 20px 0;
}
/* end:: multiple choice & True/False*/


/* begin:: Assortment*/

.assortment #random .kanban-board-header ,
.assortment #sorted .kanban-board-header {
  text-align: center;
}

.gu-mirror .elementImg,
.assortment #random .elementImg,
.assortment #sorted .elementImg {
  background: #fff;
  padding: 5px;
  border-radius: 5px;
}

.gu-mirror .elementImg img,
.assortment #random .elementImg img,
.assortment #sorted .elementImg img {
  max-height: 100px;
  max-width: 100%;
  display: block;
  margin: auto;
}

.gu-mirror .elementText span,
.assortment #random .elementText span,
.assortment #sorted .elementText span {
  margin: auto auto auto 20px;
}

.gu-mirror .elementText,
.assortment #random .elementText ,
.assortment #sorted .elementText  {
  display: flex;
  min-height: 100%;
}

.assortment #random .kanban-board,
.assortment #sorted .kanban-board {
  width: 90% !important;
}


/* end:: Assortment*/